[Desktop Entry]
Version=1.0
Type=Application
name=toph
Comment=A minimal & extensible pixel editor
TryExec=toph
Exec=toph
Icon=toph
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false
MimeType=image/png;

